@page
@model web_mybottyTV.Pages.IndexModel
@{
    Layout = "_Layout"; 
}

@if ((!User.Identity?.IsAuthenticated ?? true) || (Model.Channel is null))
{
    <a href="/auth/login">Login with Twitch</a>
}
else
{
    <span>@User.Identity?.Name</span>
    <a href="/auth/logout">Logout</a>
}

@if ((!User.Identity?.IsAuthenticated == true) || (Model.Channel is null))
{
    <div class="alert alert-warning">
        Ur channel is incorrect. Please, use Twitch to login.
    </div>
}
else
{
    <div class="channel-management">
        <h1>Channel managment <span class="channel-name">@Model.Channel.ChannelName</span></h1>

        <table class="commands-table">
            <thead>
                <tr>
                    <th>Command</th>
                    <th>Action</th>
                    <th>Answer</th>
                    <th>Is Enabled.</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cmd in Model.Channel.Settings)
                {
                    <tr>
                        <td>@cmd.CommandName</td>
                        <td>@cmd.ActionType</td>
                        <td>@cmd.Response</td>
                        <td>
                            <input type="checkbox" disabled @(cmd.IsEnabled ? "checked" : "") />
                        </td>
                        <td>
                            <a class="edit-link" asp-page="/EditCommand" asp-route-command="@cmd.CommandName">
                                Edit
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <a class="add-command-link" asp-page="/AddCommand">➕ Add new command</a>
    </div>
}
